default:
    trainer: ppo
    batch_size: 1024
    beta: 5.0e-3
    buffer_size: 10240
    epsilon: 0.2
    lambd: 0.95
    learning_rate: 3.0e-4
    learning_rate_schedule: linear
    memory_size: 128
    normalize: false
    num_epoch: 3
    time_horizon: 64
    sequence_length: 64
    summary_freq: 10000
    use_recurrent: false
    vis_encode_type: simple
    reward_signals:
        extrinsic:
            strength: 1.0
            gamma: 0.99
    tu : true
    max_steps: 4.0e6
    num_layers: 2
    hidden_units: 64

   
# BallBalancer:
#     batch_size: 5120
#     buffer_size: 51200
#     hidden_units: 128
#     learning_rate: 3.0e-4
#     max_steps: 4.0e6
#     beta: 1e-2

BallBalancer:
    # batch_size: 5120
    # buffer_size: 51200
    # hidden_units: 128
    # learning_rate: 3.0e-4
    max_steps: 4.0e6
    # beta: 1e-4